.formWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customWrapper {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.customWrapper button {
    margin-left: 0.25rem;
}

Form {
    padding-bottom: 1rem;
}

Input {
    margin-right: 0.75rem;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.submitButtonWrapper {
    display: inline-block;
}

.submitButtonWrapper Button {
    font-size: 0.875rem;
}

.btnGroup button{
    margin-left: 0.25rem;
}