.container {
    position: relative;
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 100px;
}

.ArrowKeysWrapper {
    height: 150px;
    width: 150px;
}

.center {
    height: 50px;
    width: 50px;
    background-color: #000;
    border-radius: 100%;
    top: 50px;
    left: 50px;
    position: relative;
}

.center button {
    height: 50px;
    width: 50px;
    position: absolute;
}

.center button:nth-child(1) {
    top: -50px;
}

.center button:nth-child(2) {
    right: -50px;
}

.center button:nth-child(3) {
    bottom: -50px;

}

.center button:nth-child(4) {
    left: -50px;
}

.PWM-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
