.container {
    position: relative;
    flex: 1;
    max-height: 250px;
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-width: 250px;
    height: 150px;
    margin-top: 50px;
}

.ArrowKeysWrapper {
    height: 150px;
    width: 150px;
    padding-left: 8px;
}

.sliderWrapper {
    padding-right: 20px;
}

.buttonsWrapper {
    display: flex;
    justify-content: space-between;
}

.buttonsWrapper button {
    margin-top: 10px;
    width: 45%;
}

.center {
    height: 50px;
    width: 50px;
    background-color: #2e2e2e;
    border-radius: 100%;
    top: 50px;
    left: 50px;
    position: relative;
}

.center button {
    height: 50px;
    width: 50px;
    position: absolute;
}

.center button:nth-child(1) {
    top: -50px;
}

.center button:nth-child(2) {
    right: -50px;
}

.center button:nth-child(3) {
    bottom: -50px;

}

.center button:nth-child(4) {
    left: -50px;
}

.PWM-container {
    display: flex;
    flex-direction: column;
}

.active {
    background-color: rgb(129,66,62) !important;
}
