:root {
    font-family: "Montserrat", sans-serif;
}

.div-header-wrapper {
    display: flex;
    padding-bottom: 0.5rem;
}

.div-header-wrapper .header {
    flex: 1;
    display: flex;
}

.div-header-wrapper .header div{
    margin: auto;
}