html, body {
    margin: 0;
}

.div-container {
    display: flex;
    height: 100vh;
}

.div-center {
    display: flex;
    margin: auto;
}

.div-content {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
}

.rightWrapper {
    margin-left: 0.5rem;
}