table {
    border-collapse:collapse;
    margin: 1rem 0;
    font-family: "Montserrat", sans-serif;
}

td {
    border: 1px solid #000;
    padding: 10px;
    min-width: 75px;
}

.name {
    text-align: center;
    padding-bottom: 0.5rem;
}

.value {
    text-align: center;
}

.flexbox {
    display: flex;
}