.tableWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    margin: 1rem 0;
}

.elementWrapper {
    border: 1px solid #000;
    padding: 10px;
    /* width: 90px; */
}

.name {
    text-align: center;
    padding-bottom: 0.5rem;
}

.value {
    text-align: center;
}