.body {
    padding: 1rem 0;
}

.tableWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
}

.elementWrapper {
    border: 1px solid #000;
    padding: 10px;
    /* width: 150px; */
}

.name {
    text-align: center;
    padding-bottom: 0.5rem;
}

.value {
    text-align: center;
}