.body {
    padding: 1rem 0;
}

.tableWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    border-collapse: collapse;
}

.tableWrapper div {
    margin-right: 0.5rem;
}

/* .elementWrapper {
    border: 1px solid #000;
    padding: 10px;
} */

.name {
    text-align: center;
    padding-bottom: 0.5rem;
}

.value {
    text-align: center;
}